html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
}

*, body {
	font-family: 'Rubik', sans-serif;
	margin-left: auto;
	margin-right: auto;
}

/* .carousel-item {
	background-color: grey;
} */

/* .bg-dark{
	background-color: #2C5971;
} */

.navbar {
	background-color: #14387F;
	width: 1500px;
}

#carouselExampleIndicators .carousel-item img {
	object-fit: cover;
	object-position: center;
	height: 50vh;
	overflow: hidden;
	margin: 0 auto;
	width: 100%;
	height: auto;
}

#carouselExampleIndicators {
	margin-top: -24px;
	width: 1500px;
	/* float:none; */
	margin-left: auto;
	margin-right: auto;
}

body header, main {

	/* background-color: #c8d4dc; */
	background-color: #e8edf0;

}

#navbarCollapse>form>button {

	color: #446CB3;
}

.btn-outline-success {

	border-color: #446CB3 !important;

}

#navbarCollapse>form>input {

	background-color: #14387F;
	border-top: none;
	border-left: none;
	border-right: none;
	border-radius: 0;
	color: white;
}

.form-control {
	color: white;
}

.d-flex .search-icon {
	height: 20px;
	width: 20px;
}

#carouselExampleIndicators li {
	width: 10px;
	height: 10px;
	border-radius: 100%;
}

.search-icon {
	margin-top: .45rem;
}

/* todo different color whilst clicked*/
#navbarCollapse>form>input.form-control.me-2:focus {
	box-shadow: none;
	border-color: #CCDCF5;
}

#navbarCollapse>form>input.form-control.me-2::placeholder {
	color: #8696AF;
}

#navbarCollapse>form>input.form-control.me-2::placeholder:focus {
	color: #CCDCF5;
}

/* =========== */

.card-title-wrapper {}

#fmi-logo {
	object-fit: contain;
	height: 50px;
	/* не знам дали така ще е най-добрия начин */
	width: auto;
}

#news-icon {
	height: 40px;
	width: auto;
}