html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
}

*,
body {
	font-family: 'Rubik', sans-serif;
	margin-left: auto;
	margin-right: auto;
}

.navbar {
	background-color: #1d3557;
	width: 1500px;
}

#carouselExampleIndicators .carousel-item img {
	object-fit: cover;
	object-position: center;
	height: 50vh;
	overflow: hidden;
	margin: 0 auto;
	width: 100%;
	height: auto;
}

#carouselExampleIndicators {
	/* old way */
	/* width: 1500px;  */

	float: none;
	margin-top: -24px;
	margin-left: auto;
	margin-right: auto;
}

.carousel-inner>.carousel-item {
	/* Todo slower transition  */
	/* transition: 0.6ms; */

}

body,
main,
.bg {
	background-color: #f1f6f9;
}

header {
	background-color: #1d3557;
}

#navbarCollapse>form>button {

	color: #446CB3;
}

#navbarCollapse>form>input {

	background-color: #1d3557;
	border-top: none;
	border-left: none;
	border-right: none;
	border-radius: 0;
	color: white;
}

.nav-link {
	font-size: 1.3rem;
	color: #F1F6F9 !important;
}

.nav-link:active {
	color: white !important;
}

.form-control {
	color: white;
}

.d-flex .search-icon {
	height: 20px;
	width: 20px;
}

#messages {
	float: none;
	background-color: #457b9d;
	color: #fff;
	margin-left: auto;
	margin-right: auto;
}

.link-light {
	font-size: 1.3rem;
}

#carouselExampleIndicators li {
	width: 10px;
	height: 10px;
	border-radius: 100%;
}

.search-icon {
	margin-top: .45rem;
}

/* todo different color whilst clicked*/
#navbarCollapse>form>input.form-control.me-2:focus {
	box-shadow: none;
	border-color: #CCDCF5;
}

#navbarCollapse>form>input.form-control.me-2::placeholder {
	color: #8696AF;
}

#navbarCollapse>form>input.form-control.me-2::placeholder:focus {
	color: #CCDCF5;
}

/* =========== */

#fmi-logo {
	object-fit: contain;
	height: 50px;
	/* не знам дали така ще е най-добрия начин */
	width: auto;
}

.message-link {
	border-bottom: 2px !important;
	border-color: #1d3557;
}


.card {
	/* width: 15rem; */
	/* margin-right: 0 auto; */
	margin-top: 1.3rem;
	/* margin-bottom: 1rem; */
	/* border: none !important; */
	border-top: 5rem;
	border-color: #000;
	background-color: #ffffff !important;
	/* border-radius: 0px !important; */
}

.news-icon {
	width: 2rem;
}


/* Lines below need a second thought..  */
#about {
	background-position: bottom center;
	background-repeat: no-repeat;
}

img#about {
	opacity: 0.7;
	object-fit: contain;
	/* height: 500px; */
	width: auto;
	/* background-repeat: no-repeat; */
	background-size: cover;
}

/* ------------------- */

footer {
	background-color: #1d3557;
	color: #fff;
}

.schedule-card-heading {
	display: inline-block;
}

/* Students page */

#schedules-header-title,
#admission-header-title,
#others-header-title {
	width: 100%;
	text-align: center;
	border-bottom: 1px solid #09173D;
	line-height: 0.1em;
	margin: 10px 0 20px;
	font-size: xx-large;
	color: #09173D;
}

#schedules-header-title span,
#admission-header-title span,
#others-header-title span {
	background: #F1F6F9;
	padding: 0 6%;
}

#schedules-header,
#admission-header,
#others-header {
	margin: 0 5%;
}

/* Admission page */
.card-admission {
	background-color: #fafafa !important;
	width: 20rem;
}

.schedule-card-heading {
	display: inline;
}

#main-footer-text {}

#main-footer-img {
	shape-outside: polygon(100% 0px, 100% 100%, 0px 100%, 0px 425px);
	float: right;
}

#main-footer {
	clear: both
}

#pre-footer {
	margin-top: 100px;
}

#fmi-img {
	width: 60%;
	height: auto;
	float: left;
	margin-bottom: 3%;
	margin-right: 5%;
}

#fmi-txt-about {
	text-align: justify;
}

.c-link {
	color: #457B9D;
	text-decoration: none;
}

.c-link:hover {
	color: #1D3557;
}

.btn-primary,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:visited {
	background-color: #1D3557 !important;
}

.btn-outline-primary {
	border-color: #1D3557 !important;
	color: #1D3557 !important;
}

.btn-outline-primary:hover {
	background-color: #1D3557 !important;
	color: white !important;
}

.btn-outline-success {
	border-color: #446CB3 !important;
}