html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
}

*, body {
	font-family: 'Rubik', sans-serif;
	margin-left: auto;
	margin-right: auto;
}

.navbar {
	background-color: #14387F;
	width: 1500px;
}

#carouselExampleIndicators .carousel-item img {
	object-fit: cover;
	object-position: center;
	height: 50vh;
	overflow: hidden;
	margin: 0 auto;
	width: 100%;
	height: auto;
}

#carouselExampleIndicators {
	/* old way */
	/* width: 1500px;  */

	float: none;
	margin-top: -24px;
	margin-left: auto;
	margin-right: auto;
}

.carousel-inner > .carousel-item {
	/* Todo slower transition  */
    /* transition: 0.6ms; */
    
}

body ,main {
	background-color: #e8edf0;
}

header{
	background-color: #14387F;
}

#navbarCollapse>form>button {

	color: #446CB3;
}

.btn-outline-success {

	border-color: #446CB3 !important;

}

#navbarCollapse>form>input {

	background-color: #14387F;
	border-top: none;
	border-left: none;
	border-right: none;
	border-radius: 0;
	color: white;
}

.nav-link{
	font-size: 1.3rem;
}
.nav-link:active{
	color: white !important;
}

.form-control {
	color: white;
}

.d-flex .search-icon {
	height: 20px;
	width: 20px;
}

#messages{
	float: none;
	background-color: #1A62A3;
	color:#fff;
	margin-left: auto;
	margin-right: auto;
}
.link-light{

	font-size: 1.3rem;
}

#carouselExampleIndicators li{
	width: 10px;
	height: 10px;
	border-radius: 100%;
}

.search-icon {
	margin-top: .45rem;
}

/* todo different color whilst clicked*/
#navbarCollapse>form>input.form-control.me-2:focus {
	box-shadow: none;
	border-color: #CCDCF5;
}

#navbarCollapse>form>input.form-control.me-2::placeholder {
	color: #8696AF;
}

#navbarCollapse>form>input.form-control.me-2::placeholder:focus {
	color: #CCDCF5;
}

/* =========== */

#fmi-logo {
	object-fit: contain;
	height: 50px;
	/* не знам дали така ще е най-добрия начин */
	width: auto;
}

.message-link{
	border-bottom: 2px !important;
	border-color: #113D77;
}


.card {
	/* width: 15rem; */
	/* margin-right: 0 auto; */
	margin-top: 1.3rem;
	/* margin-bottom: 1rem; */
	/* border: none !important; */
	border-top: 5rem;
	border-color: #000;
	background-color: #ffffff !important;
	/* border-radius: 0px !important; */
	

}

.news-icon{
	width: 1rem;
}

footer{
	background-color: #14387F;
	color:#fff;
}


/* Students page */

#schedules-header-title, #admission-header-title{
	width: 100%;
	text-align: center;
	border-bottom: 1px solid #09173D;
	line-height: 0.1em;
	margin: 10px 0 20px;
	font-size: xx-large;
	color: #09173D;
}

#schedules-header-title, #admission-header-title span {
	background: #fff;
	padding: 0 6%;
}

#schedules-header, #admission-header{
	margin: 0 5%;
}

/* Admission page */
.card-admission{
	background-color: #fafafa !important;
	width: 20rem;
}
